* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1614632537423-1e6c2e7e0aab?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: transparent !important;
  height: 100vh;
}
h1 {
  color: white;
  font-weight: bold;
  font-size: 60px;
}
